<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nexgrid.cgsg.admin.mapper.GfnAddMapper">
    <resultMap id="gfnAddInfoMap" type="com.nexgrid.cgsg.admin.vo.GfnAddInfo">
        <result property="addItemCode" 		column="ADD_ITEM_CODE"/>
        <result property="addItemType" 		column="ADD_ITEM_TYPE"/>
        <result property="addItemNm" 		column="ADD_ITEM_NM"/>
        <result property="svcSellPrice" 		column="SVC_SELL_PRICE"/>
        <result property="svcBasePrice" 		column="SVC_BASE_PRICE"/>
        <result property="addItemDetail" 		column="ADD_ITEM_DETAIL"/>
        <result property="addItemNotice" 		column="ADD_ITEM_NOTICE"/>
        <result property="svcTermType" 		column="SVC_TERM_TYPE"/>
        <result property="svcTermUnit" 		column="SVC_TERM_UNIT"/>
        <result property="svcTermNum" 		column="SVC_TERM_NUM"/>
        <result property="svcTermDate" 		column="SVC_TERM_DATE"/>
        <result property="createId" 		column="CREATE_ID"/>
        <result property="createDt" 		column="CREATE_DT"/>
        <result property="updateId" 		column="UPDATE_ID"/>
        <result property="updateDt" 		column="UPDATE_DT"/>
        <result property="statusCd" 		column="STATUS_CD"/>
    </resultMap>

    <!-- 부가서비스정보 검색 -->
    <select id="selectAddItem" resultMap="gfnAddInfoMap">
        SELECT
            ADD_ITEM_CODE
            ,ADD_ITEM_TYPE
            ,ADD_ITEM_NM
            ,SVC_SELL_PRICE
            ,SVC_BASE_PRICE
            ,ADD_ITEM_DETAIL
            ,ADD_ITEM_NOTICE
            ,SVC_TERM_TYPE
            ,SVC_TERM_UNIT
            ,SVC_TERM_NUM
            ,SVC_TERM_DATE
            ,CREATE_ID
            ,TO_CHAR(CREATE_DT, 'YYYY-MM-DD HH24:MI:SS') as CREATE_DT
            ,UPDATE_ID
            ,TO_CHAR(UPDATE_DT, 'YYYY-MM-DD HH24:MI:SS') as UPDATE_DT
            ,STATUS_CD
        FROM TB_GFN_ADD_ITEM
        WHERE ADD_ITEM_CODE = #{addItemCode}
    </select>

    <!-- 부가서비스 등록 갯수 검색 -->
    <select id="selectAddItemCount" resultType="int">
        SELECT
        count(1)+1 as cnt
        FROM TB_GFN_ADD_ITEM
    </select>

    <!-- 부가서비스리스트 검색 -->
    <select id="selectAddItemList" resultMap="gfnAddInfoMap">
        SELECT
            ADD_ITEM_CODE
            ,ADD_ITEM_NM
            ,CREATE_ID
            ,STATUS_CD
            ,TO_CHAR(CREATE_DT, 'YYYY-MM-DD HH24:MI:SS') as CREATE_DT
        FROM TB_GFN_ADD_ITEM

        <if test='statusCd != "1"'>
            WHERE STATUS_CD = '1'
        </if>

        ORDER BY CREATE_DT DESC
    </select>

    <!-- 부가서비스 등록 -->
    <insert id="insertAddItem">
		INSERT INTO TB_GFN_ADD_ITEM
		(
			 ADD_ITEM_CODE
            ,ADD_ITEM_TYPE
            ,ADD_ITEM_NM
            ,SVC_SELL_PRICE
            ,SVC_BASE_PRICE
            ,ADD_ITEM_DETAIL
            ,ADD_ITEM_NOTICE
            ,SVC_TERM_TYPE
            ,SVC_TERM_UNIT
            ,SVC_TERM_NUM
            ,SVC_TERM_DATE
            ,CREATE_ID
            ,CREATE_DT
            ,STATUS_CD
		)
		VALUES
		(
			 #{addItemCode}
			,#{addItemType}
			,#{addItemNm, jdbcType=VARCHAR}
			,#{svcSellPrice, jdbcType=NUMERIC}
			,#{svcBasePrice, jdbcType=NUMERIC}
			,#{addItemDetail, jdbcType=VARCHAR}
			,#{addItemNotice, jdbcType=VARCHAR}
			,#{svcTermType, jdbcType=VARCHAR}
			,#{svcTermUnit, jdbcType=VARCHAR}
			,#{svcTermNum, jdbcType=VARCHAR}
			,#{svcTermDate, jdbcType=VARCHAR}
			,#{createId, jdbcType=VARCHAR}
			,sysdate
			,#{statusCd}
		)
	</insert>

    <!-- 부가서비스 수정 -->
    <insert id="updateAddItem">
        UPDATE TB_GFN_ADD_ITEM
		SET
            UPDATE_DT = sysdate
        <if test="!@com.nexgrid.cgsg.admin.utils.StringUtil@empty(addItemType)">
            ,ADD_ITEM_TYPE = #{addItemType}
        </if>
        <if test="!@com.nexgrid.cgsg.admin.utils.StringUtil@empty(addItemNm)">
            ,ADD_ITEM_NM = #{addItemNm}
        </if>
        <if test="!@com.nexgrid.cgsg.admin.utils.StringUtil@empty(svcSellPrice)">
            ,SVC_SELL_PRICE = #{svcSellPrice}
        </if>
        <if test="!@com.nexgrid.cgsg.admin.utils.StringUtil@empty(svcBasePrice)">
            ,SVC_BASE_PRICE = #{svcBasePrice}
        </if>

        <if test="!@com.nexgrid.cgsg.admin.utils.StringUtil@empty(addItemDetail)">
            ,ADD_ITEM_DETAIL = #{addItemDetail}
        </if>
        <if test="!@com.nexgrid.cgsg.admin.utils.StringUtil@empty(addItemNotice)">
            ,ADD_ITEM_NOTICE = #{addItemNotice}
        </if>
        <if test="!@com.nexgrid.cgsg.admin.utils.StringUtil@empty(svcTermType)">
            ,SVC_TERM_TYPE = #{svcTermType}
        </if>

            ,SVC_TERM_UNIT = #{svcTermUnit, jdbcType=VARCHAR}
            ,SVC_TERM_NUM = #{svcTermNum, jdbcType=NUMERIC}
            ,SVC_TERM_DATE = #{svcTermDate, jdbcType=DATE}

        <if test="!@com.nexgrid.cgsg.admin.utils.StringUtil@empty(updateId)">
            ,UPDATE_ID = #{updateId}
        </if>
        <if test="!@com.nexgrid.cgsg.admin.utils.StringUtil@empty(statusCd)">
            ,STATUS_CD = #{statusCd}
        </if>
		WHERE ADD_ITEM_CODE = #{addItemCode}
	</insert>

    <!-- 부가서비스 삭제 -->
    <insert id="deleteAddItem">
		DELETE FROM TB_GFN_ADD_ITEM
		WHERE ADD_ITEM_CODE = #{addItemCode}
	</insert>

</mapper>