<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nexgrid.cgsg.admin.mapper.GfnEntrMapper">
    <resultMap id="gfnEntrInfoMap" type="com.nexgrid.cgsg.admin.vo.GfnEntrInfo">
        <result property="entrItemCode" 	column="ENTR_ITEM_CODE"/>
        <result property="socTypeCode" 		column="SOC_TYPE_CODE"/>
        <result property="prodCd" 		    column="PROD_CD"/>
        <result property="entrItemNm" 		column="ENTR_ITEM_NM"/>
        <result property="statusCd" 		column="STATUS_CD"/>
        <result property="memo" 		    column="MEMO"/>
        <result property="createId" 		column="CREATE_ID"/>
        <result property="createDt" 		column="CREATE_DT"/>
        <result property="updateId" 		column="UPDATE_ID"/>
        <result property="updateDt" 		column="UPDATE_DT"/>
    </resultMap>

    <resultMap id="gfnMapInfoMap" type="com.nexgrid.cgsg.admin.vo.GfnMapInfo">
        <result property="addItemCode" 	column="ADD_ITEM_CODE"/>
        <result property="entrItemCode" 	column="ENTR_ITEM_CODE"/>
        <result property="createId" 	column="CREATE_ID"/>
        <result property="createDt" 	column="CREATE_DT"/>
        <result property="statusCd" 	column="STATUS_CD"/>
    </resultMap>

    <resultMap id="gfnAddInfoMap" type="com.nexgrid.cgsg.admin.vo.GfnAddInfo">
        <result property="addItemCode" 		column="ADD_ITEM_CODE"/>
        <result property="addItemType" 		column="ADD_ITEM_TYPE"/>
        <result property="addItemNm" 		column="ADD_ITEM_NM"/>
        <result property="svcSellPrice" 		column="SVC_SELL_PRICE"/>
        <result property="svcBasePrice" 		column="SVC_BASE_PRICE"/>
        <result property="addItemDetail" 		column="ADD_ITEM_DETAIL"/>
        <result property="addItemNotice" 		column="ADD_ITEM_NOTICE"/>
        <result property="svcTermType" 		column="SVC_TERM_TYPE"/>
        <result property="svcTermUnit" 		column="SVC_TERM_UNIT"/>
        <result property="svcTermNum" 		column="SVC_TERM_NUM"/>
        <result property="svcTermDate" 		column="SVC_TERM_DATE"/>
        <result property="createId" 		column="CREATE_ID"/>
        <result property="createDt" 		column="CREATE_DT"/>
        <result property="updateId" 		column="UPDATE_ID"/>
        <result property="updateDt" 		column="UPDATE_DT"/>
        <result property="statusCd" 		column="STATUS_CD"/>
    </resultMap>

    <select id="selectEntrItem" resultMap="gfnEntrInfoMap">
        SELECT
                ENTR_ITEM_CODE,
                SOC_TYPE_CODE,
                PROD_CD,
                ENTR_ITEM_NM,
                STATUS_CD,
                MEMO,
                CREATE_ID,
                TO_CHAR(CREATE_DT, 'YYYY-MM-DD HH24:MI:SS') as CREATE_DT,
                UPDATE_ID,
                TO_CHAR(UPDATE_DT, 'YYYY-MM-DD HH24:MI:SS') as UPDATE_DT
        FROM TB_GFN_ENTR_ITEM
        WHERE ENTR_ITEM_CODE = #{entrItemCode}
    </select>

    <select id="selectEntrItemList" resultMap="gfnEntrInfoMap">
        SELECT
                ENTR_ITEM_CODE,
                SOC_TYPE_CODE,
                PROD_CD,
                ENTR_ITEM_NM,
                STATUS_CD,
                MEMO,
                CREATE_ID,
                TO_CHAR(CREATE_DT, 'YYYY-MM-DD HH24:MI:SS') as CREATE_DT,
                UPDATE_ID,
                TO_CHAR(UPDATE_DT, 'YYYY-MM-DD HH24:MI:SS') as UPDATE_DT
        FROM TB_GFN_ENTR_ITEM

        <if test='statusCd != "1"'>
            WHERE STATUS_CD = '1'
        </if>

        ORDER BY ENTR_ITEM_NM
    </select>

    <insert id="insertEntrItem">
		INSERT INTO TB_GFN_ENTR_ITEM
		(
			 ENTR_ITEM_CODE
            ,SOC_TYPE_CODE
            ,PROD_CD
            ,ENTR_ITEM_NM
            ,STATUS_CD
            ,MEMO
            ,CREATE_ID
            ,CREATE_DT
		)
		VALUES
		(
			 #{entrItemCode}
			,#{socTypeCode}
			,#{prodCd}
			,#{entrItemNm}
			,#{statusCd}
			,#{memo, jdbcType=VARCHAR}
			,#{createId, jdbcType=VARCHAR}
			,sysdate
		)
	</insert>

    <insert id="updateEntrItem">
        UPDATE TB_GFN_ENTR_ITEM
		SET
            UPDATE_DT = sysdate
            ,MEMO = #{memo, jdbcType=VARCHAR}
            <if test="!@com.nexgrid.cgsg.admin.utils.StringUtil@empty(socTypeCode)">
                ,SOC_TYPE_CODE = #{socTypeCode}
            </if>
            <if test="!@com.nexgrid.cgsg.admin.utils.StringUtil@empty(prodCd)">
                ,PROD_CD = #{prodCd}
            </if>
            <if test="!@com.nexgrid.cgsg.admin.utils.StringUtil@empty(entrItemNm)">
                ,ENTR_ITEM_NM = #{entrItemNm}
            </if>
            <if test="!@com.nexgrid.cgsg.admin.utils.StringUtil@empty(statusCd)">
                ,STATUS_CD = #{statusCd}
            </if>
            <if test="!@com.nexgrid.cgsg.admin.utils.StringUtil@empty(updateId)">
                ,UPDATE_ID = #{updateId}
            </if>
		WHERE ENTR_ITEM_CODE = #{entrItemCode}
	</insert>

    <!-- 권한 수정 -->
    <insert id="deleteEntrItem">
		UPDATE TB_GFN_ENTR_ITEM
		SET
		    UPDATE_DT = sysdate
		    ,UPDATE_ID = #{updateId, jdbcType=VARCHAR}
			,STATUS_CD = '0'
		WHERE ENTR_ITEM_CODE = #{entrItemCode}
	</insert>

    <select id="selectEntrMappingList" resultMap="gfnAddInfoMap">
        SELECT
            ADD_ITEM_CODE
            ,ENTR_ITEM_CODE
            , STATUS_CD
        FROM TB_GFN_ITEM_MAP
        WHERE STATUS_CD = '1'
        AND ENTR_ITEM_CODE = #{entrItemCode}
    </select>

    <insert id="insertMapItem">
		INSERT INTO TB_GFN_ITEM_MAP
		(
			ADD_ITEM_CODE
            ,ENTR_ITEM_CODE
            ,CREATE_ID
            ,CREATE_DT
            ,STATUS_CD
		)
		VALUES
		(
			#{addItemCode}
			,#{entrItemCode}
			,#{createId, jdbcType=VARCHAR}
			, sysdate
			,#{statusCd}
		)
	</insert>

    <update id="disableMapItemForEntr">
		UPDATE TB_GFN_ITEM_MAP SET
		STATUS_CD = '0'
		,DELETE_ID = #{deleteId, jdbcType=VARCHAR}
        ,DELETE_DT = sysdate
		WHERE
            ENTR_ITEM_CODE = #{entrItemCode}
	</update>

    <update id="enableMapItemForEntr">
        update TB_GFN_ITEM_MAP m set
            (m.status_cd, m.delete_id, m.delete_dt) = (
                    select '1', #{deleteId, jdbcType=VARCHAR}, sysdate
                    from TB_GFN_ADD_ITEM a
                    where a.ADD_ITEM_CODE = m.ADD_ITEM_CODE
                        and m.entr_item_code = #{entrItemCode}
                )
        where exists (
            select a.ADD_ITEM_CODE
            from TB_GFN_ADD_ITEM a
            where a.ADD_ITEM_CODE = m.ADD_ITEM_CODE
            and m.entr_item_code = #{entrItemCode}
            and a.status_cd = '1'
        )
	</update>

    <update id="disableMapItemForAdd">
        UPDATE TB_GFN_ITEM_MAP SET
        STATUS_CD = '0'
        ,DELETE_ID = #{deleteId, jdbcType=VARCHAR}
        ,DELETE_DT = sysdate
        WHERE
            ADD_ITEM_CODE = #{addItemCode}
    </update>

    <update id="enableMapItemForAdd">
        update TB_GFN_ITEM_MAP m set
            (m.status_cd, m.delete_id, m.delete_dt) = (
                select '1', #{deleteId, jdbcType=VARCHAR}, sysdate
                from TB_GFN_ENTR_ITEM e
                where e.entr_item_code= m.entr_item_code
                    and m.ADD_ITEM_CODE = #{addItemCode}
                )
        where exists (
            select e.entr_item_code
            from TB_GFN_ENTR_ITEM e
            where e.entr_item_code = m.entr_item_code
                and m.ADD_ITEM_CODE = #{addItemCode}
                and e.status_cd = '1'
        )
    </update>

    <delete id="deleteMapItem">
		DELETE FROM TB_GFN_ITEM_MAP
		WHERE ENTR_ITEM_CODE = #{entrItemCode}
	</delete>

</mapper>