<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nexgrid.cgsg.admin.mapper.EntrMapper">
    <resultMap id="authResultMap" type="com.nexgrid.cgsg.admin.vo.AuthInfo">
        <result property="menuId" 		column="MENU_ID"/>
        <result property="roleCode" 	column="ROLE_CODE"/>
        <result property="codeNm" 		column="CODE_NM"/>
        <result property="managerYn" 	column="MANAGER_YN"/>
        <result property="useYn" 		column="USE_YN"/>
    </resultMap>

    <select id="selectAddItemListWithMap" resultMap="authResultMap">
        SELECT
            ad.ADD_ITEM_CODE
            ,ad.ADD_ITEM_NM
            ,ad.CREATE_ID
            ,ad.CREATE_DT
        FROM TB_GFN_ADD_ITEM ad inner join TB_GFN_ITEM_MAP map on ad.ENTR_ITEM_CODE = map.ENTR_ITEM_CODE
        WHERE ADD_ITEM_CODE = #{addItemCode}
    </select>


    <insert id="insertMapItem">
		INSERT INTO TB_GFN_ITEM_MAP
		(
			ADD_ITEM_CODE
            ,ENTR_ITEM_CODE
            ,CREATE_ID
            ,CREATE_DT
            ,STATUS_CD
		)
		VALUES
		(
			#{addItemCode}
			,#{entrItemCode}
			,#{createId}
			, sysdate
			,#{statusCd}
		)
	</insert>

    <!-- 권한 수정 -->
    <delete id="deleteEntrItem">
		DELETE FROM TB_GFN_ITEM_MAP
		WHERE ADD_ITEM_CODE = #{addItemCode}
	</delete>

</mapper>