<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nexgrid.cgsg.admin.mapper.GfnStatMapper">
    <resultMap id="gfnMasterMap" type="com.nexgrid.cgsg.admin.vo.GfnMasterInfo">
        <result property="gfnId" 		    column="GFN_ID"/>
        <result property="ctn" 		        column="CTN"/>
        <result property="subNo" 		    column="SUB_NO"/>
        <result property="prodCd" 		    column="PROD_CD"/>
        <result property="entrItemCode" 		    column="ENTR_ITEM_CODE"/>
        <result property="entrItemNm" 		column="ENTR_ITEM_NM"/>
        <result property="addItemCode" 		column="ADD_ITEM_CODE"/>
        <result property="addItemNm" 		    column="ADD_ITEM_NM"/>
        <result property="ctnStusCode" 		column="CTN_STUS_CODE"/>
        <result property="createDt" 		column="CREATE_DT"/>
        <result property="lastLoginDt" 		column="LAST_LOGIN_DT"/>
    </resultMap>

    <resultMap id="gfnJoinStatMap" type="com.nexgrid.cgsg.admin.vo.GfnJoinStatMonthInfo">
        <result property="joinType" 		    column="JOIN_TYPE"/>
        <result property="lastYearData" 		    column="LAST_YEAR_DATA"/>
        <result property="prevMonthData" 		    column="PREV_MONTH_DATA"/>
        <result property="lastMonthData" 		column="LAST_MONTH_DATA"/>
        <result property="currentMonthData" 		column="CURRENT_MONTH_DATA"/>
    </resultMap>

    <resultMap id="gfnJoinStatDetailMap" type="com.nexgrid.cgsg.admin.vo.GfnJoinStatDetailInfo">
            <result property="signupDate" 		    column="SIGNUP_DATE"/>
            <result property="freeUserCnt" 		    column="FREE_USER_CNT"/>
            <result property="paidUserCnt" 		    column="PAID_USER_CNT"/>
            <result property="totUserCnt" 		    column="TOT_USER_CNT"/>
    </resultMap>

    <select id="selectUserDetailStat" resultMap="gfnMasterMap">
        SELECT
              M.GFN_ID
            , M.CTN
            , M.SUB_NO
            , M.PROD_CD
            , E.ENTR_ITEM_CODE
            , E.ENTR_ITEM_NM
            , A.ADD_ITEM_CODE
            , A.ADD_ITEM_NM
            , M.CTN_STUS_CODE
            , M.CREATE_DT
            , M.LAST_LOGIN_DT
        FROM TB_GFN_MASTER M
        LEFT OUTER JOIN TB_GFN_ADD_ITEM A ON M.ADD_ITEM_CODE = A.ADD_ITEM_CODE
        LEFT OUTER JOIN TB_GFN_ENTR_ITEM E ON M.PROD_CD = E.PROD_CD
        <where>
            <if test="!@com.nexgrid.cgsg.admin.utils.StringUtil@empty(entrItemCode)">
                AND E.ENTR_ITEM_CODE = #{entrItemCode}
            </if>
            <if test="!@com.nexgrid.cgsg.admin.utils.StringUtil@empty(addItemCode)">
                AND M.ADD_ITEM_CODE = #{addItemCode}
            </if>
            <if test="!@com.nexgrid.cgsg.admin.utils.StringUtil@empty(createStartDt)">
                AND M.CREATE_DT >= to_date(#{createStartDt}, 'yyyyMMdd')
            </if>
            <if test="!@com.nexgrid.cgsg.admin.utils.StringUtil@empty(createEndDt)">
                AND M.CREATE_DT <![CDATA[<]]>= to_date(#{createEndDt}, 'yyyyMMdd')
            </if>
            <if test="!@com.nexgrid.cgsg.admin.utils.StringUtil@empty(subNo)">
                AND M.SUB_NO = #{subNo}
            </if>
            <if test="!@com.nexgrid.cgsg.admin.utils.StringUtil@empty(ctn)">
                AND M.CTN = #{ctn}
            </if>
        </where>
    </select>


    <select id="selectJoinUserStat" resultMap="gfnJoinStatMap">
        select JOIN_TYPE, LAST_YEAR_DATA, PREV_MONTH_DATA, LAST_MONTH_DATA, CURRENT_MONTH_DATA from ( WITH TEMP AS (
               select to_char(trunc(signup_date, 'month'), 'YYYYMM') as d_month
                ,'가입자' as join_type
                , sum(tot_user_cnt) as total_sum
                from TB_SIGNUP_STAT
                WHERE  SIGNUP_DATE BETWEEN #{currentStartDt} AND #{currentEndDt}
                    OR SIGNUP_DATE BETWEEN #{lastYearStartDt} AND #{lastYearEndDt}
                group by trunc(signup_date, 'month')
                order by trunc(signup_date, 'month')
            )
            SELECT JOIN_TYPE, LAST_YEAR_DATA, PREV_MONTH_DATA, LAST_MONTH_DATA, CURRENT_MONTH_DATA FROM TEMP
            pivot(
                sum(total_sum)
                for d_month
                in( ${lastYearField} as LAST_YEAR_DATA, ${prevMonthField} as PREV_MONTH_DATA, ${lastMonthField} as LAST_MONTH_DATA, ${currentMonthField} as CURRENT_MONTH_DATA)
            )
        )
        union all
        select JOIN_TYPE, LAST_YEAR_DATA, PREV_MONTH_DATA, LAST_MONTH_DATA, CURRENT_MONTH_DATA from (
            WITH TEMP AS (
               select to_char(trunc(signup_date, 'month'), 'YYYYMM') as d_month
                ,'무료가입자' as join_type
                , sum(free_user_cnt) as free_sum
                from TB_SIGNUP_STAT
                WHERE  SIGNUP_DATE BETWEEN #{currentStartDt} AND #{currentEndDt}
                    OR SIGNUP_DATE BETWEEN #{lastYearStartDt} AND #{lastYearEndDt}
                group by trunc(signup_date, 'month')
                order by trunc(signup_date, 'month')
            )
            SELECT JOIN_TYPE, LAST_YEAR_DATA, PREV_MONTH_DATA, LAST_MONTH_DATA, CURRENT_MONTH_DATA FROM TEMP
            pivot(
                sum(free_sum)
                for d_month
                in( ${lastYearField} as LAST_YEAR_DATA, ${prevMonthField} as PREV_MONTH_DATA, ${lastMonthField} as LAST_MONTH_DATA, ${currentMonthField} as CURRENT_MONTH_DATA)
            )
        )
        union all
        select JOIN_TYPE, LAST_YEAR_DATA, PREV_MONTH_DATA, LAST_MONTH_DATA, CURRENT_MONTH_DATA from ( WITH TEMP AS (
               select to_char(trunc(signup_date, 'month'), 'YYYYMM') as d_month
                ,'유료가입자' as join_type
                , sum( paid_user_cnt) as paid_sum
                from TB_SIGNUP_STAT
                WHERE  SIGNUP_DATE BETWEEN #{currentStartDt} AND #{currentEndDt}
                    OR SIGNUP_DATE BETWEEN #{lastYearStartDt} AND #{lastYearEndDt}
                group by trunc(signup_date, 'month')
                order by trunc(signup_date, 'month')
            )
            SELECT JOIN_TYPE, LAST_YEAR_DATA, PREV_MONTH_DATA, LAST_MONTH_DATA, CURRENT_MONTH_DATA FROM TEMP
            pivot(
                sum(paid_sum)
                for d_month
                in( ${lastYearField} as LAST_YEAR_DATA, ${prevMonthField} as PREV_MONTH_DATA, ${lastMonthField} as LAST_MONTH_DATA, ${currentMonthField} as CURRENT_MONTH_DATA)
            )
        )

    </select>

    <select id="selectJoinStatDetailList" resultMap="gfnJoinStatDetailMap">
        SELECT TO_CHAR(SIGNUP_DATE, 'yyyy.MM.dd') as SIGNUP_DATE,
         FREE_USER_CNT,
         PAID_USER_CNT,
         TOT_USER_CNT
        FROM TB_SIGNUP_STAT
        WHERE SIGNUP_DATE BETWEEN #{startDt} AND #{endDt}
        ORDER BY SIGNUP_DATE
    </select>


</mapper>
